.cheatsheet-page-4{
  margin-left: 50%;
  transform: translateX(-50%);
  text-align: center;
  margin-bottom: 100px;
  h2{
    font-size: calc(16px + 2vw);
    text-shadow: 0px 0px 10px var(--my-orange);
  }
}


.article-condiments{
  text-align: left;
  margin-top: 100px;
  h3{
    font-size: calc(16px + 1vw);
    color: var(--my-textWhite);
    text-shadow: 0px 0px 5px var(--my-blue);
  }
  p{
    font-size: calc(14px + 0.5vw);
    margin-top: 30px;
    span{
      font-size: calc(16px + 0.5vw);
      text-shadow: 1px 1px var(--my-orange);
    }
  }
  a{
    i{
      cursor: pointer;
      color: var(--my-outstandBlue);
      margin-left: 10px;
      font-size: calc(16px + 0.5vw);
    }
  }
}
.condiments-display-flex{
  display: flex;
  justify-content: space-evenly;
}