footer{
  margin-top: 200px;
}
.barbacodes-footer {
  background: linear-gradient(90deg, hsla(51, 100%, 48%, 1) 0%, hsla(48, 100%, 44%, 1) 18%, hsla(48, 85%, 43%, 1) 47%, hsla(48, 100%, 44%, 1) 77%, hsla(51, 100%, 48%, 1) 100%);
  color: black;
  text-align: center;
  padding: 20px;
  border-radius: 40px 40px 0px 0px;
  font-size: 1.1rem;
  width: fit-content;
  margin: auto;
}

.footer-content {
  margin: auto;
}

.footer-link {
  display: inline-block;
  margin-top: 10px;
  padding: 8px 15px;
  background-color: black;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  transition: 0.3s ease-in-out;
}

.footer-link:hover {
  background-color: white;
  color: black;
  border: 1px solid black;
}
