nav {
  background: hsla(51, 100%, 48%, 1);
  background: linear-gradient(
    90deg,
    hsla(51, 100%, 48%, 1) 0%,
    hsla(48, 100%, 44%, 1) 18%,
    hsla(48, 85%, 43%, 1) 47%,
    hsla(48, 100%, 44%, 1) 77%,
    hsla(51, 100%, 48%, 1) 100%
  );
  background: -moz-linear-gradient(
    90deg,
    hsla(51, 100%, 48%, 1) 0%,
    hsla(48, 100%, 44%, 1) 18%,
    hsla(48, 85%, 43%, 1) 47%,
    hsla(48, 100%, 44%, 1) 77%,
    hsla(51, 100%, 48%, 1) 100%
  );
  background: -webkit-linear-gradient(
    90deg,
    hsla(51, 100%, 48%, 1) 0%,
    hsla(48, 100%, 44%, 1) 18%,
    hsla(48, 85%, 43%, 1) 47%,
    hsla(48, 100%, 44%, 1) 77%,
    hsla(51, 100%, 48%, 1) 100%
  );
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 0px 0px 40px 40px;
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  width: 90vw;
  z-index: 100;
  color: var(--my-textBlack);
  label {
    color: var(--my-textBlack);
    z-index: 3;
  }
}

nav h3, .close-minimenu i  {
  font-family: 'Wallpoet', sans-serif;
  font-size: calc(14px + 1.2vw);
  color: var(--my-textBlack);
  text-shadow: 1px 1px var(--my-orange);
}

.main-nav-img {
  width: 50px;
  height: 50px;
  transition: 0.9s ease-in-out;
  cursor: pointer;
}

.main-nav-ul {
  display: flex;
  gap: 1vw;
  font-size: calc(12px + 0.5vw);
  margin-right: 100px;
  align-items: center;
}

.nav-parts {
  width: 28%;
  text-align: center;
  li {
    border-right: 1px solid var(--my-textBlack);
    padding-right: 3px;
  }
}

.fire-nav-container {
  width: 10px;
  height: 10px;
  position: absolute;
  left: 20%;
  top: 5%;
}

.fire-nav-container-1,
.fire-nav-container-2,
.fire-nav-container-3,
.fire-nav-container-4 {
  width: 100px;
  height: 10px;
  position: absolute;
  margin-top: 20px;
  opacity: 0;
  display: none;
  transition: opacity 0.3s ease-in-out;
}

.fire-nav-container-1 {
  margin-left: 0.5vw;
}
.fire-nav-container-2 {
  margin-left: 2vw;
}
.fire-nav-container-3 {
  margin-left: 0.4vw;
}
.fire-nav-container-4 {
  margin-left: 2vw;
}

.fire-nav-container-0 {
  z-index: -1;
  display: none;
}

#bbq-ss:checked ~ header nav .fire-nav-container-1 {
  display: block;
  opacity: 1;
}

#html-parrilla:checked ~ header nav .fire-nav-container-2 {
  display: block;
  opacity: 1;
}

#js-grill:checked ~ header nav .fire-nav-container-3 {
  display: block;
  opacity: 1;
}
#condiments:checked ~ header nav .fire-nav-container-4 {
  display: block;
  opacity: 1;
}

.main-page,
.cheatsheet-page-1,
.cheatsheet-page-2,
.cheatsheet-page-3,
.cheatsheet-page-4 {
  display: none;
  min-height: 90vh;
  padding-top: 100px;
}

#main-page:checked ~ main .main-page {
  display: block;
  animation: fadeIn 0.3s ease-in-out;
}

#bbq-ss:checked ~ main .cheatsheet-page-1 {
  display: block;
  animation: fadeIn 0.3s ease-in-out;
}

#html-parrilla:checked ~ main .cheatsheet-page-2 {
  display: block;
  animation: fadeIn 0.3s ease-in-out;
}

#js-grill:checked ~ main .cheatsheet-page-3 {
  display: block;
  animation: fadeIn 0.3s ease-in-out;
}
#condiments:checked ~ main .cheatsheet-page-4 {
  display: block;
  animation: fadeIn 0.3s ease-in-out;
}

#navbars {
  display: none;
  margin-right: 50px;
  font-size: calc(16px + 1.5vw);
}

.menu-container {
  display: inline-block;
  position: relative;
}

.menu-toggle {
  display: none;
}

.menu-icon {
  font-size: calc(24px + 1vw);
  cursor: pointer;
  padding: 10px;
  margin-left: 50%;
  i {
    color: var(--my-textBlack);
    text-shadow: 1px 1px var(--my-orange);
  }
}
.menu-toggle {
  display: none;
}
.menu-toggle-ul li {
  border-top: 1px solid var(--my-textBlack);
  padding: 15px 10px;
  text-align: center;
}

.hover-background-charge {
  position: relative;
  display: block;
  padding: 12px 20px;
  font-size: 18px;
  color: white;
  text-transform: uppercase;
  letter-spacing: 1px;
  overflow: hidden;
  background: transparent;
  border: 2px solid white;
  transition: color 0.3s ease-in-out;
  a, label{   /*para el hover sobre el texto en las listas de menús */
    cursor: pointer;
    }
}

.hover-background-charge::before {
  content: '';
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    to left,
    var(--my-dark-green) 0%,
    var(--my-light-green) 20%,
    var(--my-light-green) 80%,
    var(--my-dark-green) 100%
  );
  transition: left 0.3s ease-in-out;
  z-index: -1;
}

.hover-background-charge:hover {
  color: black;
}

.hover-background-charge:hover::before {
  left: 0;
}

.menu {
  list-style: none;
  padding: 25px 10px;
  margin: 0;
  background: var(--my-light-green);
  position: absolute;
  top: 40px;
  left: 50%;
  transform: translateX(-50%);
  display: none;
  border-radius: 30px;
  box-shadow: 4px 4px 6px rgba(0, 0, 0);
  position: absolute;
  justify-content: center;
  font-size: calc(16px + 0.3vw);
}

.menu div li {
  padding: 1px 3px;
  border-bottom: 1px solid #ccc;
  min-width: 150px;
  text-align: center;
}
.menu div {
  border-right: 5px solid rgba(0, 0, 0, 0.315);
}
.menu li a {
  color: black;
}

.menu li:last-child {
  border-bottom: none;
}

.menu-toggle:checked + .menu {
  display: flex;
}

.menu-book {
  position: absolute;
  top: 10px;
  right: 20px;
  font-size: calc(24px + 0.5vw);
  i {
    color: var(--my-textBlack);
    text-shadow: 1px 1px var(--my-orange);
  }
}

.list-title {
  color: black;
  border-bottom: none;
  font-size: calc(24px + 0.5vw);
}

.close-minimenu {
  position: absolute;
  top: -5px;
  right: 20px;
  text-shadow: 1px 2px 4px rgb(203, 113, 113);
  padding: 3px;
  i {
    font-size: calc(30px + 1vw);
    transition: 0.3s ease-in-out;
    cursor: pointer;
  }
}
.close-minimenu:hover {
  i{
    transform: rotate(360deg);
  }
  cursor: pointer;
}

.h-title {
  background-color: var(--my-light-blue);
  z-index: -2;
}
.c-title {
  background-color: var(--my-light-yellow);
  z-index: -2;
}
.j-title {
  background-color: var(--my-light-green);
  z-index: -2;
}
.a-all {
  background-color: var(--my-light-red);
  overflow: scroll;
  text-align: center;

}
