/* @media screen and (max-width: 1475px) {
  body {
    background-color: rgb(216, 153, 153);
  }
} */
@media screen and (max-width: 1010px) {
  body {
    background-color: rgb(202, 205, 201);
  }
}

@media screen and (max-width: 375px) {
  body {
    background-color: rgb(159, 159, 225);
  }  
}  

